.app {
  display: grid;
}

.content {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 0;
  align-items: center;
}

.count {
  font-size: 60px;
  padding-bottom: 10px;
}

.button-padding {
  padding-left: 30px;
}
