body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eceff1;
}

.app-window {
  background-color: white;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
}

.app-container {
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 50%;
  margin: auto;
}

.theme-button {
  border: 2px solid blue;
  border-radius: 10px;
  color: blue;
  background-color: white;
  cursor: pointer;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 600;
}

.theme-button:hover {
  border: 2px solid blue;
  color: white;
  background-color: blue;
}
